{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<!-- задаем заголовок страницы -->
{% block title %}This is an page{% endblock %}
<!-- блок body -->
{% block styles %}
{{super()}}
<link rel="stylesheet" href="st.css">
{% endblock %}
{% block content %}
{{ wtf.quick_form(form, method='post',enctype="multipart/form-data", action="net") }}
<!-- один из стандартных тэгов html - заголовок второго уровня -->
{% if image_name %}
 <table border="1">
    <tbody>
        <tr>
            <td align="center"><h3>Повернутая картинка 1:</h3></td>
            <td align="center"><h3>Повернутая картинка 2:</h3></td>
        </tr>
        <tr>
            <td><figure><img class="img-fluid" src="{{image_name}}/"></figure></td>
            <td><figure><img class="img-fluid" src="{{fl2}}/"></figure></td>
        </tr>
        <tr>
            <td align="center" colspan="2"><h3>Наложеннные</h3></td>
        </tr>
        <tr>
            <td><figure><img class="img-fluid" src="./static/last.png" colspan="2"></figure></td>
        </tr>
        <tr>
            <td colspan="1" align="center"><h3>График распределения цветов исходной картинки:</h3></td>
            <td colspan="1" align="center"><h3>Конечной</h3></td>
        </tr>
        <tr>
            <td colspan="1" align="center"><img class="img-fluid" src="{{gr_name}}/"></td>
            <td colspan="1" align="center"><img class="img-fluid" src="{{gr_name2}}/"></td>
        </tr>
    </tbody>
</table>
{% else %}
 <p> There is no image yet </p>
{% endif %}
 
{% endblock %}
